
///// Home

.content-wrapper.main-container {
	padding: 0;
	margin-top: 0;
}

.home {
	.banner-home {
		background-size: cover;
		background-repeat: no-repeat;
		height: 40vh;
	}

	.outer-wrapper {
		float: right;
		width: 50%;
	} 
} 

////Header

.header-logo .logo-mobile {
	display: none;
	float: left;
	height: 42px;
	margin-left: -50%;
}

//// List courses
.home .courses-container,
.find-courses .courses-container {
	max-width: 1300px;
	padding: 0 15px;
}

////Course content
.content-wrapper .course-tabs.navbar,
.wrapper-course-material.courseware .course-material {
	overflow: auto;
}

.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
	overflow: inherit;
}

//// Footer

.wrapper-footer.wrapper {

	background: #eee;
	padding: 30px;
	box-shadow: none;

	.wrapper-logo img {
		max-width: 100px;
	}

	footer#footer-openedx .footer-about-openedx {
		display: flex;
    flex-direction: column;
    padding-top: 30px;
	}

	.nav-legal {
		display: none;
	}

	footer#footer-openedx .colophon {
		display: flex;
    flex-direction: column;
	}

	.colophon .nav-colophon {
		margin: 5px 0 30px 0;

		ol {
			list-style: none;
		}

		li {
			float: left;
			margin-right: 15px;

			a{
				color: #333;
			}
		}
	}

	footer#footer-openedx {
		display: flex;
		justify-content: space-between
	}

	.copyright {
		margin: -2px 0 8px 0;
		font-size: 0.6875em;
		color: #767676;
		text-align: left;
	} 
}

////Page about
.content-wrapper .course-info {
	.course-profile {
		padding-top: 0;
		border: 0;
		box-shadow: none;
		height: auto;
		background: none;

		.intro-inner-wrapper {
			border: 0;
			max-width: 1180px;
			box-shadow: none;
			padding-top: 20px;
		}
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

///Responsive
@media only screen and (max-width: 768px) {

	.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav {
		display: flex;
		flex-wrap: wrap;
		height: auto;
		margin: 0 auto;

		ol {
			flex-wrap: wrap;

			li {
				border-right-style: solid;
				border-left-style: solid;
			}
		}

		.sequence-list-wrapper,
		.sequence-nav-button.button-next,
		.sequence-nav-button.button-previous {
			flex: 0 0 100%;
			max-width: 100%;
			min-height: 44px;
			z-index: 2000;
		}

		.sequence-nav-button.button-next,
		.sequence-nav-button.button-previous {
			margin: .75rem 0;
		}
	}

	.content-wrapper .course-info header.course-profile .intro-inner-wrapper {
		.table {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		.intro {
			width: 100%;
			text-align: center;

    	.register {
    		margin: 0 auto;
    	}
    }

    .media {
    	width: 100%;

    	img {
    		height: 160px;
    		max-width: 264px;
    	}
    }
  }

	//Footer
	.wrapper-footer.wrapper footer#footer-openedx {
		flex-direction: column;

		.colophon {
			width: 100%;
			align-items: center;
		}

		.copyright {
			text-align: center;
		}

		.footer-about-openedx {
			align-items: center;
		}
	}
}

@media only screen and (max-width: 576px) {
	.header-logo  {
		.logo {
			display: none;
		}

		.logo-mobile {
			display: block;
		}
		
	}
}

